body {
  background-color: #555;
  color: #DDD;
  font-family: AvenirMedium;
}

@font-face {
  font-family: AvenirBook;
  src: url("assets/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
  font-family: AvenirMedium;
  src: url("assets/AvenirLTStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: AvenirRoman;
  src: url("assets/AvenirLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: AvenirBlack;
  src: url("assets/AvenirLTStd-Black.otf") format("opentype");
}

.avenir-black {
  font-family: AvenirBlack !important;
}

.card {
  width: 100% !important;
  max-width: 1000px;
}

.card, .card-header, .card-body, .card-footer {
  border: none !important;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.bg-darker {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-lighter {
  background-color: rgba(255, 255, 255, 0.2);
}

.br-radius-5 {
  border-radius: 5px;
}

.max-width-300 {
  max-width: 300px;
}

.bg-333 {
  background-color: #333;
}

.bg-444 {
  background-color: #444;
}

.bg-555 {
  background-color: #555;
}

.bg-666 {
  background-color: #666;
}

.bg-777 {
  background-color: #777;
}